# Compiled class files & build artifacts
target/
*.class

# Log files
*.log

# macOS system files
.DS_Store
.AppleDouble
.LSOverride
._*

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# Eclipse
.project
.classpath
.settings/

# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/

# Visual Studio Code
.vscode/
